---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Hit fast forward to your busniess growth"
    url="https://calendly.com/sumitthakur5044/30min?preview_source=et_card&month=2024-05"
  />

  <HeroSection
    title=`Let's Turbocharge Your Growth with  <span
        class="text-yellow-500 dark:text-yellow-400">AI Magic!</span>`
    subTitle="Experience the Future Today – Transform Your Business with AI!"
    primaryBtn="Book Meeting"
    primaryBtnURL="https://calendly.com/sumitthakur5044/30min?preview_source=et_card&month=2024-05"
    secondaryBtn="Ask query"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Scal with AI"
  />

  <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry leaders at."
  />

  <FeaturesGeneral
    title="Meeting Industry Demands"
    subTitle="Empowering businesses through AI, our consultation firm specializes in scaling companies with cutting-edge technology. From strategic planning to implementation, we optimize processes, enhance decision-making, and drive innovation. Let us navigate the complexities of AI, transforming your business for the future."
    src={featureImage}
    alt="Scale with  AI Feature Section"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Solutions</span> too scale your business by <span class="text-yellow-500 dark:text-yellow-400">100X</span>.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "We use advance workflow to build your business infrasture with our cutting-edge tools. Our state-of-the-art tools ensure that your projects are completed on time.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Our analytics team delivers invaluable insights, unlocking hidden opportunities within your data. Leveraging advanced tools and deep expertise, we extract actionable intelligence to drive informed decisions and fuel growth. Discover the power of data-driven strategies with our exceptional analytics team.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Global Expertise",
        content:
          "Comprised of global talent, our diverse team brings unique perspectives and expertise from across the globe. With a shared passion for innovation and excellence, we collaborate seamlessly to deliver world-class solutions tailored to your specific needs. Experience the difference of a truly global perspective.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScaleMyAI has been instrumental in transforming my business. I have been able to deliver on time and deliver quality work.",
        author: "Shririn Gulia",
        role: "Chief Operating Officer | DotX",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "Impacted 70K+ individual through our  content reach",
      },
      {
        count: "35%",
        description:
          "clients see a 35% improvement in project timelines after first consultation",
      },
      {
        count: "89",
        description:
          "Automated companies task by 37-97% making them scalable",
      },
      {
        count: "2x",
        description: "quicker development , marketing and growth revenue",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScalewithAi is a innovative orgaisation consulation and  driving your business growth."
    url="https://calendly.com/sumitthakur5044"
  />
</MainLayout>
